.header-container {
  border-bottom: solid 1px #CCC;
  padding: 5px;
  min-height: 35px;
}

.header-container .logo {
  float: left;
  width: 25px;
  height: 25px;
  background: #CCC;
}

.header-container .search-form  {
  float: right;

}
.header-container input {
  width: 150px;
  height: 25px;
  margin: 0 5px 0 0;
  text-align: center;
}
.header-container button {
  width: 25px;
  height: 25px;
  border: solid 1px #CCC;
  text-align: center;
}

.header-container .logged-user {
  float: right;
  width: 25px;
  height: 25px;
  background: #EEE;
  margin-left: 8px;
}
