<div class="container-fluid">
  <div class="row app-top-header">
    <div class="col">
      <a href="/" class="logo"></a>
    </div>

    <div class="col col-lg-2">
      <form action="#" class="form-inline">
        <div class="form-group mb-2">
          <input type="text" id="input-search" class="form-control" />
        </div>
        <button class="btn btn-primary mb-2">Search</button>
      </form>
    </div>
    <div class="col col-sm-1">
      <div class="logged-user"></div>
    </div>
  </div>
</div>

<div class="container">
  <ul id="main-nav-bar" class="nav nav-tabs">
    <li class="nav-item">
      <a routerLink="/" class="nav-link active" (click)="changeTabs($event)">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="/servers" class="nav-link" (click)="changeTabs($event)">Servers</a>
    </li>
    <li class="nav-item">
      <a routerLink="/users" class="nav-link" (click)="changeTabs($event)">Users</a>
    </li>
  </ul>
</div>
