<div class="container-fluid">
  <a href="/" class="logo"></a>
  <div class="logged-user"></div>

  <form action="#" class="form-inline">
    <div class="form-group mb-2">
      <label for="input-search" class="sr-ony">Terms</label>
      <input type="text" id="input-search" class="form-control" />
    </div>
    <button class="btn btn-primary mb-2">Search</button>
  </form>
  
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a href="#" class="nav-link active">Ingredients</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Recipies</a>
    </li>
  </ul>
</div>